body {
    font-family: 'Open Sans', sans-serif;
    background-color: #00618c;
}
.wrapper {
    background-color: #ededed;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #00618c;
    margin: 15px 0 20px 0;

}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #00618c;
    margin: 15px 0 20px 0;

}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #00618c;
    font-size: 1.3em;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #00618c;
    font-size: 1em;
}
a {
    color: #252525;
}
a:link ,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
a:focus,
button:focus {
    outline: none;
}
button {
    border: 0;
}

.centre-flex {
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0;
}
.centre-content {
    text-align:  center;
}
.align-right {
    text-align: right;
}
.logo {
    height: 80px;
    margin: 5px 0;
}

img {
    max-width: 100%;
}
.clear {
    clear: both;
}

/*----------------Button Styles------------*/
.orange-btn {
    color: #FFF;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: #f47907;
    padding: 10px 20px;
    border-radius: 40px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    border-style: none;
}
.orange-btn:hover,
.orange-btn:active,
.orange-btn:focus {
    color: #FFF;
    background-color: orange;
    outline: none;
}

.hp-register-btn {
    margin: 10px 20px;
}
.primary-nav ul li a.hp-login-btn {
    color: #FFF;
    padding: 10px 20px;
}
.blue-btn {
    display: block;
    background: #00618c;
    color: #fff;
    padding: 10px;
    font-size: .9em;
    text-align: center;
    font-weight: 700;
    margin-top: 25px;
    border-radius: 3px;
}
.blue-btn:hover {
    color: #FFF;
    background: #f47907;
}

.blue-btn:focus {
    color: #FFF;
}
.edit-profile-btn {
    background: #f47907;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: .8em;
}
.edit-profile-btn:hover,
.edit-profile-btn:focus {
    color: #FFF;
    background-color: orange;
}
/*----------------Modals------------------*/
.modal-header {
    background: #00618c;

}
.modal-title {
    color: #FFF;
}

.modal-content .modal-close {
    color: #FFF;
    text-shadow: none;
    opacity: 1
}

/*----------------Booking Status Modals------------------*/

.booking-status-modal-row button {
    width: 100%;
}
/*----------------Form Elements------------*/
.narrow-form {
    width: 400px;
}
.wide-form,
.narrow-form {
    padding: 15px 50px;
    background-color: #FFF;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}
.wide-form {
    width: 100%;
}

.submit-cont {
    text-align: center;
}
form legend {
    font-family: 'Raleway', sans-serif;
    color: #00618c;
    font-weight: 900;
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

form label {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #00618c;
}
form a {
    color: #00618c;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea {
    display: block;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border: 1px solid #999;
    outline: none;
    background: #fff;
    height:40px;;
}
input[type=radio] {
    margin-right: 10px;
}
input[type=file] {
    display: block;
}
input[type=submit] {
    margin: 10px;
}
input[type=file] {
    display: block;
}
textarea {
    height: auto;
}

.input-group input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: calc(100% - 40px);
    border: 1px solid #999;
}

.input-group {
    padding-bottom: 5px;
}

.entry-form .input-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.input-icon {
    height: 40px;
    width: 40px;
    background: #eee;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #999;
    border-right: 0;
}
.input-icon img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}


/*-----------------Form Errors--------------*/
.password_error {
    color: red;
    text-align: center;
    padding-bottom: 15px;
    display: none;
}

#ajaxLoginError {
    display: none;
}

/*----------------Booking Form Elements & Modal Details-----*/
.flatpickr-month {
    height: 40px;
    background-color: #00618c;
    color: #fff;
}

.flatpickr-day.today {
    border: 2px solid #f47907;
}
.flatpickr-day.selected {
    background: #f47907;
    border-color: #f47907;
}
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
    fill: #fff;
}

.booking-dropdown {
    display: none;
    padding: 15px;
    background: #fff;
    border-top: 1px solid #eee;
}
.booking-dropdown .input-group .form-control {
    padding: 9px;
    margin-bottom: 10px;
}
.form-control[readonly]{
    background: #fff;
}
.booking-submit {
    text-align: right;
    margin-bottom: 0;
}
.total {
    font-family: 'Open Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.total h4 {
    margin: 0;
    font-size: 1.2em;
}
.summaryTitle {
    margin: 25px 0 20px;
}
.bookingSummary {
    padding: 0 25px;
}


/*----------------Profile Forms------------------*/
#item-img-output {
    width: 250px;
    margin-bottom: 15px;
}

.deleteImage {
    display: none;
    color: #fff;
    background: #c0392b;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
}
.deleteImage img {
    width: 15px;
    padding: 1px 1px 5px 1px;
}

.showElement {
    display: block;
}
input[type=file].hideElement {
    display: none;
}
/*----------------Rates Form Elements----------------*/
.toggle-handle {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.toggle {
    color: #333;
    background-color: #eee;
    border-color: #adadad;
}
    .toggle .toggle-group .btn {
        line-height: 22px!important
    }

.checkbox-inline .toggle {
    margin-left: 0;
}
.btn-primary {
    background-color: #00618c;
    border-color: #00618c;
}
.btn-primary:hover {
    background-color: #00618c;
    border-color: #00618c;
}
.dollar-icon {
    padding-left: 3px;
}
.setRates {
    display: none;
    margin-top: 15px;
}
#rates .hasRates {
    display: block;
}
@media (max-width: 440px) {
    #rates legend {
        font-size: 1.5em;
    }
}

/* ----------------Form Errors & notifications ----------*/

.notification {
    display: none;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
    .notification.notificationShow {
        display: block;
    }

.error {
    display: none;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
    .error.errorShow {
        display: block;
    }

/*----------------Parsley Form Validation------------*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #999;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #999;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/*----------------Navigation------------*/

.hp-header {
    background-color: #FFF;
}

.primary-nav {
    display: inline-block;
    position: absolute;
    right: 15px;
}

.primary-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.primary-nav ul li {
    display: inline-block;
}

.primary-nav ul li a {
    padding: 32.5px 15px 16px;
    display: inline-block;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    color: #00618c;
    font-weight: 700;
}
.mobileMenu {
    display: none;
}
/*----------------Logged in user sub-menu------------*/
img.headerThumb  {
    max-width: 40px;
    border-radius: 1000px;
    margin-right: 8px;
}
img.headerArrow  {
    max-width: 10px;
    margin-left: 5px;
}
span.headerUser {
    font-weight: normal;
    color: #252525;
    font-size: .9em;
    display: inline-block;
    padding-right: 15px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23252525'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 9px;
    background-position: calc(100% ) center;
}
ul.subMenu {
    display: block;
    z-index: 100;
    display: none;
}
ul.subMenu li {
    display: block;
    padding: 5px 10px;
}
ul.subMenu li a {
    padding: 5px;
}

@media (min-width: 992px) {
    .primary-nav {
        display: inline-block !important;
    }
    ul.subMenu {
        position: absolute;
        right: 0;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
                box-shadow: 2px 2px 6px rgba(0,0,0,.1);
        border: #ccc;
    }
    ul.subMenu li {
        border-bottom: 1px solid #eee;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .primary-nav {
        position: absolute;
        left: 0;
        background-color: #31333f;
        z-index: 10;
        top: 90px;
        width: 100%;
        display: none;
    }

    .primary-nav ul {
        float: none;
    }
    .primary-nav ul li {
        display: block;
        padding: 0;
    }
    .primary-nav ul li a {
        width: 100%;
        border: 1px solid #444;
        padding: 15px 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #fff;
    }
    .primary-nav ul li a.hp-login-btn{
        padding: 15px 20px;
    }
    .primary-nav ul li a.orange-btn {
        background-color: rgba(0,0,0,0);
        border-radius: 0;
    }
    span.headerUser {
        color: #FFF;
        font-weight: 700;
        padding-right: 15px;
        font-size: 16px;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23ffffff'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
        background-size: 9px;
        background-position: calc(100% ) center;
    }
    .mobileMenu {
        display: inline-block;
        float: right;
        width: 60px;
        padding-top: 10px;
    }
}

/*----------------Dashboard Navigation Menu------------*/

.dashboard-nav {
    display: inline-block;
}

.dashboard-nav ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0;
}
.dashboard-nav ul li {
    display: inline-block;
}
.dashboard-nav ul li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFF;
    padding: 18px 15px 14px 15px;
    line-height: 25px;
    display: inline-block;
    border-bottom: 4px solid #00618c;
}
.dashboard-nav ul li a.current {
    border-bottom: 4px solid #fff;
}
.dashboard-nav li:last-of-type {
    position: absolute;
    right: 0;
    top: 0;
}
.dashboard-nav ul li:last-of-type a  {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 8px;
    border-bottom: 0;
}


.walkerSearchForm input {
    display: inline-block;
    width: 200px;
}
.walkerSearchForm button {
    display: inline-block;
    background: #f47907;
    border: 0;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-top: 11px;
    cursor: pointer;
}
.walkerSearchForm button:hover {
    background: orange;
}
.walkerSearchForm img {
    height: 18px;
}

@media (max-width: 991px) {
    .dashboard-nav li:last-of-type {
        right: 15px;
    }
}

@media (max-width: 768px) {
    .dashboard-nav {
        display: block;
    }
    .dashboard-nav li:last-of-type {
        display: block;
        position: relative;
        text-align: right;
    }
}

@media (max-width: 460px) {
    .dashboard-nav ul li a {
        font-size: .8em;
        padding: 6px;
    }
}

/*------------------------Public Pages------------------------------*/
.banner {
    min-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.publicPage {
    padding: 50px 0;
}

.publicPage h1 {
    text-align: center;
}
/*----------------Homepage------------*/
.flexContainerWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner h2 {
    color: #fff;
    text-shadow: 2px 2px 6px rgba(40, 73, 124, 0.82);
}

.homepage {
    background: url('../images/banner-02.jpg') no-repeat center center;
    background-size: cover;
}

.hp-about h1 {
    text-align: center;
    margin: 0 0 60px 0;
}
.hp-about {
    background-color: #ededed;
    padding: 60px 0;
}
.hp-about img {
    margin-bottom: 20px;
}
.input-group p {
    margin-top: -10px;
    font-size: .85em;
    color: gray;
}

/*----------------About Page------------*/
.about {
    background: url('../images/about.jpg') no-repeat center center;
    background-size: cover;
}


/*----------------FAQ Page------------*/
.faq {
    background: url('../images/faq.jpg') no-repeat center center;
    background-size: cover;
}

.faq-btns {
    text-align: center;
}
.faqbtn {
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #00618c;
    border-radius: 5px;
    color: #00618c;
    font-family: 'raleway';
    font-weight: 700;
    cursor: pointer;
}
#faqWalker {
    display: none;
}
.faqContent h3 {
    margin: 0;
    padding-top: 50px;
}
.faqQuestion {
    border-bottom: 1px solid #999;
    padding-top: 15px;
}
.faqQuestion p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.faqAnswer {
    display: none;
}
.faqAnswer p:hover {
    text-decoration: none;
}
/*----------------Contact Page------------*/

.contact {
    background: url('../images/contact.jpg') no-repeat center center;
    background-size: cover;
}

/*--------------------------Wall of Dogs Picture Gallery-------------------*/
.grid-item {
    width: 20%;
    padding: 0 10px 10px 0;
}
    .grid-item .dog-masonary {
        padding: 15px;
        background: #00618c;
        color: #fff;
    }

/*--------------------------------Member Pages ---------------------------*/
.memberPage {
    padding: 50px 0;
}
.noAlerts {
    background: #FFF;
    border-left: 6px solid #00618c;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
            box-shadow: 0 1px 1px rgba(0,0,0,.15);
    padding: 20px 30px;
    text-align: left;
}
.noAlerts p {
    margin-bottom: 0;
}
/*----------------Dashboard Page------------*/

.dashboard-box {
    background-color: #FFF;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}

.dashboard-box h3 {
    margin-bottom: 20px;
}
.profile-box img {
    border-radius: 1000px;
}
.profile-box h3 {
    margin-bottom: 10px;
}

.messages-box img {
    margin-top: 20px;
}
.my-dogs img {
    border-radius: 1000px;
    margin-bottom: 20px;
}
.my-dogs .row:last-of-type img {
    margin-bottom: 0;
}
.dashboard-add-dog-btn {
    margin-top: 5px;
}

.dashboard-booking-row {
    padding: 10px;
    background: #f8f8f8;
    margin-bottom: 5px;
    border-radius: 5px;
}
.dashboard-booking-row  h4 {
    font-size: .8em;
    margin-bottom: 0;
}
.dashboard-booking-row p {
    margin-bottom: 0;
}
.dashboard-status {
    text-transform: capitalize;
}
.dashboard-unconfirmed {
    color: #8a6d3b;
}
.dashboard-confirmed {
    color: #3c763d;
}

@media (max-width: 991px) {
    .dashboard-booking-row {
        font-size: .9em;
    }
}
@media (max-width: 575px) {
    .dashboard-booking-row-col {
        margin-bottom: 10px;
    }
    .dashboard-booking-row-col:last-of-type {
        margin-bottom: 0;
    }

}
/*----------------Bookings Overview ------------------*/


.booking-row {
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.booking-row:last-of-type {
    border-bottom: 1px solid #ccc;
}
.booking-row img {
    border-radius: 1000px;
    max-width: 125px;
    margin-bottom: 10px;
}

.booking-row p {
    margin-bottom: 6px;
}
.booking-row .blue-btn {
    display: inline;
    margin-top: 0;
    border: 0;
    width: 100%;
}

.booking-group {
    margin-top: 60px
}
.booking-group:first-of-type {
    margin-top: 0;
}
.booking-group h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
}
.booking-group .booking-row h3 {
    font-size: 1.3em;
}
@media (max-width: 768px) {
    .booking-row-details {
        padding: 15px;
        font-size: .9em;
    }
}
/*----------------Bookings Form ------------------*/
.booking-details img {
    max-width: 125px;
    border-radius: 1000px
}
.booking-details {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

/*----------------Local Search Listing------------*/

.search-thumb img {
    max-width: 125px;
    border-radius: 1000px;
}
.search-thumb p {
    margin: 10px 0;
}
.searchResults {
    width: 100%;
}
.search-result {
    text-align: left;
}
.search-result h3 {
    margin-top: 15px;
}
.search-result h4 {
    margin: 10px 0;
}
.search-profile {
    background-color: #fff;
    padding: 15px 30px;
    margin: 8px;
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}
.search-profile:last-of-type {
    margin-bottom: 50px;

}
.search-profile a {
    color: #555;
}
.search-profile:hover {
    background-color: rgba(221, 231, 252, 0.5);
}
.search-result-rates p {
    margin-bottom: 0;
    font-size: .9em;
    margin-top: 15px;
}
.search-result-rates h4 {
    display: inline-block;
    font-size: 1.3em;
}
.search-result-rates span {
    font-size: .9em;
}
.searchResults .noAlerts {
    margin: 75px 0;
}
.gmap-info{
    width: auto;
}
.gmap-info-pic{
    display: inline-block;
    float: left;
}

.gmap-info-pic img {
    width: 70px;
    border-radius: 1000px;
}
.gmap-info-text {
    display: inline-block;
    padding: 10px;
}
.gmap-info-text p {
    margin-bottom: 3px;
}
.gmap-info-text-name {
    font-size: 1.3em;
    font-weight: bold;
    color: #00618c;
}
@media (max-width: 768px) {
    .search-thumb img {
        max-width: 95px;
    }
}
/*------------Search Pagination--------------*/
.searchPagination {
    margin: 15px 0;
}

.searchPagination a {
    background: #00618c;
    color: #fff;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
}
a.currentPage {
    background: #f47907;
}

/*---------------Own Profile Page --------------*/

.ownersDogs {
    background: #FFF;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}

.ownersDogs img{
    width: 100px;
    border-radius: 1000px;

}
.ownersDogs .row {
    margin-top: 20px;
}
.ownersDogs .col-7 {
    padding-left: 0;
}
.ownersDogs.ownerProfileDogs .row {
    width: 50%;
    float: left;
}
/*-----------------Profile Page Common --------*/

.profile-header {
    background-color: #f1f1f1;
    margin: 0;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.profile-image {
    padding: 25px;
}

.profile-image img {
    width: 100px;
    border-radius: 1000px;
}
.profile-header .profile-title h3 {
    margin: 0;
}
.profile-right-col {
    background: #FFF;
    padding: 25px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1)
}
.profile-right-col-row {
    margin-top: 20px;

}
.profile-right-col-image img {
    width: 100px;
    border-radius: 1000px;
    margin-right: 25px;
}
@media (min-width: 992px) {
    .profile-right-col-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .dog-profile-right-col-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width: 991px) {
    .profile-right-col-row {
        text-align: center;
    }
    .profile-right-col-image img {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .profile-header .profile-title h3 {
        font-size: 1.5em;
    }

}

/*----------------Walker Profile Page------------*/

.profile-header h3 {
    font-size: 2em;
    margin: 20px 0 5px 0;
}
.profile-header p {
    margin-bottom: 3px;
}
.profile-location img {
    width: 15px;
    margin: 0;
}
.walker-profile-about {
    margin-bottom: 30px;
    padding: 25px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}
.walker-profile-about h3 {
    margin: 0px;
    padding-bottom: 20px;
}
.walker-profile-about .walker-profile-dog {
    padding-top: 25px;
}
.walker-profile-dog-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.walker-profile-dog-details .row {
    width: 50%;
    margin: 0;
}
.walker-profile-dog-details .col-7 {
    padding-left: 0;
}

.walker-profile-about p {
    margin-bottom: 0;
}
.walker-profile-about img {
    width: 100px;
    border-radius: 1000px
}
.rates {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
}
.rates h3 {
    padding: 20px;
    text-align: center;
}

.rates .ratesRow {
    border-top: 1px solid #ccc;
    padding: 15px;
    clear: both;
    background-color: #fff
}

.ratesRow:hover {
    background-color: rgba(0, 97, 140, 0.05);
    cursor: pointer;
}
.ratesRow img {
    margin-right: 10px;
}
.ratesRow h4 {
    display: inline-block;
}
.ratesRow p {
    margin-bottom: 0;
    font-size: .9em;
}
.meetGreet {
    display: inline-block;
}

.ratesRow span {
    font-size: .8em;
    color: #a4a4a4;
}

.ratesRow .ratesPriceBold {
    color: #292b2c;
    font-weight: 700;
    font-size: 1.6em;
}
.ratesRow .ratesMessage {
    text-transform: uppercase;
    color: #00618c;
    font-weight: 700;
    float: right;
    margin-top: 6px;
}
.ratesRow .ratesMakeBooking  {
    text-transform: uppercase;
    color: #00618c;
    font-weight: 700;
    float: right;
    margin-top: 15px;
}
@media (max-width: 575px) {

    .walker-profile-dog-details .row {
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
    }
    .walker-profile-dog-details .row:last-of-type {
        margin-bottom: 0;
    }
    .walker-profile-dog-details {
        display: block;
    }
    .walker-profile-dog-details .row .col-md-5 {
        margin-bottom: 10px;
    }
}
/*----------------Dog Profile Page------------*/

.dogInfo {
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.1);
            box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    padding: 25px;
    margin-bottom: 30px;
}
.dogInfo h3 {
    padding-bottom: 20px;
    margin-bottom: 0;
}
.dogInfoBold {
    font-weight: 700;
}

/*----------------Dog Form -----------*/
.btn-wrapper input {
    margin: 0;
}
.btn-wrapper {
    margin-top: 30px;
}


/*----------------Search page---------*/

#searchMap {
    width: 100%;
    height: 500px;
}
/*----------------Footer------------*/

footer {
    min-height: 50px;
}

footer p {
    color: #FFF;
    line-height: 50px;
    text-align: center;
}
